/* Variables globals colors */
$main-color : #FFFFFF;

/* Variables globals texts colors */

/* Variables globals fonts text */
$primary-fonts : "Teko", sans-serif;

/* Size text */
$x3-small: 12px;
$x2-small: 13px;
$x-small: 14px;
$small : 15px;
$medium: 16px;
$x2-medium: 18px;
$large: 20px;
$x-large: 22px;
$x2-large: 24px;
$x3-large: 28px;
$x4-large: 32px;
$x5-large: 35px;
$x6-large: 36px;
$x7-large: 48px;
$x8-large: 60px;

/* Responsive breakpoints */
$desktop: (min-width: 1024px);
$tablet: (min-width: 768px) and (max-width: 1023px);
$mobile: (max-width: 767px);
