@use '../../settings/index';

.c-body{
  line-height: 1;
  font-size: 1rem;
  font-family: 'Teko';
  background-image: linear-gradient(#d1d1d1 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #d1d1d1 calc(100% - 0.5px)), linear-gradient(90deg, #d1d1d1 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #d1d1d1 calc(100% - 0.5px));
  background-size: 10% 100%;
  border: 0.5px solid #d1d1d1;
  background-color: #FCF3EA;
 height: 100vh;
}
